@using Microsoft.AspNetCore.Identity
@inject SignInManager<icecreamshop.Models.ApplicationUser> SignInManager
@inject UserManager<icecreamshop.Models.ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <!--<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej @User.Identity.Name! <i class="fas fa-user"></i></a>-->
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">Min Profil <i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            @if (User.Identity.Name == "Admin@mail.com")
            {
                <a class="nav-link text-dark" asp-area="" aria-label="Länk till ordrar"  asp-controller="OrderBoxes" asp-action="~/ordrar">Ordrar</a>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark"  aria-label="Länk till registrera" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"  aria-label="Länk till att logga in" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
            </li>
        }
    </ul>
