@model icecreamshop.ViewModels.FlavourCreateViewModel

@{
    ViewData["Title"] = "Lägg till ny smak";
}

<h1>Create</h1>

<h4>Flavour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlavourName" class="control-label"></label>
                <input asp-for="FlavourName" class="form-control" />
                <span asp-validation-for="FlavourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlavourDescription" class="control-label"></label>
                <input asp-for="FlavourDescription" class="form-control" />
                <span asp-validation-for="FlavourDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Välj fil...</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa smak" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till lista</a>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</div>
