@model icecreamshop.Models.Flavour

@{
    ViewData["Title"] = "Delete";
}

<h1>Ta bort smak</h1>

<h3>Är du säker på att du vill ta bort smaken?</h3>
<div>
    <h4>Flavour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavourDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavourDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlavourId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till smaker</a>
    </form>
</div>
