
@{
    ViewData["Title"] = "Om oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="width: 100%; display: inline;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="~/images/glass1.jpg" alt="First slide" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>I scream.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide" src="~/images/glass1.jpg" alt="Second slide" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>You scream.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide" src="~/images/glass1.jpg" alt="Third slide" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>ICE CREAM.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="container marketing">
        <h2>Om oss</h2>


            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Vad gör vi. <span class="text-muted">För dig...</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/images/glass1.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Vad gör du... <span class="text-muted">... för att Njuta</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="~/images/glass1.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Av den godaste <span class="text-muted">glassen!</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="~/images/glass1.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

        
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/images/db5cee62-53cb-4922-a243-6ed1cb5f9a84_Unicorn.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Förtrollande god</h2>
                    <p>Färgsprakande enhörningar som flyger bland molnen, låter det magiskt? Ja visst är det, precis som vår nya glass Unicorn - Förtrollande god.</p>
      
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/images/ff65ebfe-e919-4f88-9288-ce48b37b1b58_Melon.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Ona Melona?</h2>
                    <p>En svalkande, len nyhet med smak av melon. Den är en utsökt sommarsmak!</p>
          
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="~/images/e9d07c8e-ca0b-49d5-bb16-bf06baa1aa0d_KokosYuzu.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Tropic News</h2>
                    <p>Sugen på att resa till tropikerna? Vill du snabbt komma dit, i alla fall i en smakresa? Testa vår nyhet Tropic.</p>
                   
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </div>