
@{
    ViewData["Title"] = "Om oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>Om oss</h1>
        <p>Vi är ett glassigt företag som vill låta Dig
        relaxa utan måsten i sommar.
        
        Låt oss förse dig med färdiga strutar med just din favoritglass!</p>
    </div>