@{
    ViewData["Title"] = "Glassigt";
}
<div class="icecreamanimation">
    <img src="~/images/kulor1.png" alt="glassrån" class="scope" />
    <img src="~/images/ran.png" alt="glassrån" class="cone" />
</div>
<div class="text-center">
    <h1 class="display-4">Välkommen till Glassigt</h1>
    <p>Var inte en dumstrut, beställ din unika kombo av glassar och ta det kallt i sommar</p>
</div>