
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-center">
    <img src="~/images/glass3.jpg" class="img-fluid" alt="bild på glass" style="border-radius:5px;">

    <h2>Tack för din beställning!</h2>
    <h4>
        Vi har skickat ett mail till @User.Identity.Name med din faktura! <br />
        Vi önskar dig en glassig sommar!
    </h4>
</div>