@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Åtkomst nedkad";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bara behöriga administratörer har tillgång till sidan.</p>
</header>
