@page "registrera"
@model RegisterModel
@{
    ViewData["Title"] = "Registrera";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Här kan du skapa ett glassigt konto.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control"  aria-label="Fyll i förnamn" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control"  aria-label="Fyll i efternamn"/>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street"></label>
                <input asp-for="Input.Street" class="form-control"  aria-label="Fyll i gata du bor på" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Zip"></label>
                <input asp-for="Input.Zip" class="form-control"  aria-label="Fyll i postnummer" />
                <span asp-validation-for="Input.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Town"></label>
                <input asp-for="Input.Town" class="form-control"  aria-label="Fyll i stad"/>
                <span asp-validation-for="Input.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="buttonStyle" type="submit" >Registrera</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Kul i dubbel bemärkelse...</h4>
                    <div>
                        <p>
                           Kul att just Du vill bli en del av vår glassiga tjänst som levererar Kulglass färdigt i strut hem till just Dig!
                            Glassigare kan det nog inte bli! <i class="fas fa-ice-cream"></i>
                        </p>
                    </div>
             
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
